<!-- wp:template-part {"slug":"header-minimal"} /-->


<!-- wp:query {"queryId":10,"query":{"perPage":6,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"exclude","inherit":false},"displayLayout":{"type":"flex","columns":3}} -->

<main id="main">
	<div class="container">
		<aside class="featured-img">



			<a href="#"><img src="asset/img/bench.png" alt=""></a>
			<a href="#"><img src="asset/img/kate-tandy-oP8GderL2HI-unsplash.jpg" alt=""></a>
			<a href="#"><img src="asset/img/bench.png" alt=""></a>
			<a href="#"><img src="asset/img/mitchell-hollander-X3s_v34l40s-unsplash.jpg" alt=""></a>
			<a href="#"><img src="asset/img/bench.png" alt=""></a>
			<a href="#"><img src="asset/img/kate-tandy-oP8GderL2HI-unsplash.jpg" alt=""></a>
			<a href="#"><img src="asset/img/bench.png" alt=""></a>
			<a href="#"><img src="asset/img/mitchell-hollander-X3s_v34l40s-unsplash.jpg" alt=""></a>
			<a href="#"><img src="asset/img/bench.png" alt=""></a>
		</aside>




		

		
	</div>
</main>









<!-- wp:template-part {"slug":"footer","tagName":"footer","layout":{"inherit":true}} /-->