<!-- wp:template-part {"slug":"header-minimal"} /-->









<main id="main">
	<div class="container">
		<aside class="featured-img">
IMG


			<!-- <a href="#"><img src="asset/img/bench.png" alt=""></a>
			<a href="#"><img src="asset/img/kate-tandy-oP8GderL2HI-unsplash.jpg" alt=""></a>
			<a href="#"><img src="asset/img/bench.png" alt=""></a>
			<a href="#"><img src="asset/img/mitchell-hollander-X3s_v34l40s-unsplash.jpg" alt=""></a>
			<a href="#"><img src="asset/img/bench.png" alt=""></a>
			<a href="#"><img src="asset/img/kate-tandy-oP8GderL2HI-unsplash.jpg" alt=""></a>
			<a href="#"><img src="asset/img/bench.png" alt=""></a>
			<a href="#"><img src="asset/img/mitchell-hollander-X3s_v34l40s-unsplash.jpg" alt=""></a>
			<a href="#"><img src="asset/img/bench.png" alt=""></a> -->
		</aside>

		<aside class="bloginfo">
			<h2>Blog Posts</h2>



		</aside>
		

		
	</div>
</main>









<!-- wp:template-part {"slug":"footer","tagName":"footer","layout":{"inherit":true}} /-->